/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --hue-color: 231;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /* Font and typography */
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Hover overlay */
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}



 /* BASE */
 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/* Reusable CSS classes*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 767px) {
  /*Carousel Mobile*/
  .animation_carousel {
    overflow: hidden;
    height: 150px;
    width: 300px;
    margin: 15px auto 15px auto;
  }
  
  .box_animation {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }
  
  .box_animation img {
    object-fit: cover;
    height: 150px;
    width: 150px;
  }

/*Contact Us Mobile*/

.efect-parallax{
    background-image: url(./img/foto-contac-us-cut.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.2s linear;
}

.contact-us-contanier{
  display: block;
  height: 100%;
  overflow-y: hidden;
  padding-bottom: 10vh;
  background: linear-gradient(to left, rgb(255, 255, 255)5%, rgba(255, 255, 255, 0.275));
}

.text-contact-us h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

.text-contact-us h3 {
  font-weight: 700;
  font-size: 2rem;
}

.text-contact-us {
  margin-left: 5vw;
  padding-top: 10vh;
}

.text-contact-us::after {
  content: '';
  display: block;
  width: 135px;
  height: 8px;
  margin-top: 15px;
  background-color: #141f5c;
  margin-bottom: 2%;
}
/*Form ContactUs Mobile*/
.form-contatc-us {
  display: flex;
  margin-bottom: 8px;
}

/*Inputs of Form Contact-Us Mobile*/
  #first-name {
  border: 5vw  solid white;
  width: 90vw;
  margin-bottom: 12px;
  margin-left: 5vw;
}

input:not(#first-name)  {
  border: 5vw  solid white;
  width: 90vw;
  margin-bottom: 12px;
  margin-left: 5vw;
}

input::placeholder, textarea::placeholder {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

#yourMessage {
  border: 5vw  solid white;
  width: 90vw;
  margin-bottom: 8px;
  margin-left: 5vw;
  outline: none;
  resize: none;
}

#send {
  margin-left: 5vw;
  border: 5vw solid white;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: white;
  color: #141f5c;
  transition: 0.1s linear;
}

#send:hover {
  border: 5vw solid #141f5c;
  background-color: #141f5c;
  color: #FFF;
}

/*Footer Mobile*/
.footer {
  background-color: #141f5c;
  background-size: cover;
}

.footer-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
} 

.logo-footer {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 40%;
  margin-left: 5vw;
}

.fast-links p {
  font-weight: 500;
  font-size: 1rem;
  color: #FFF;
  margin-bottom: 2vh;
  margin-left: 5vw;
}
.icons-social-midia {
  display: flex;
  margin-bottom: 2vh;
  margin-left: 5vw;
}

.icon-facebook{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  color: #FFF;
  margin-right: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.icon-instagram{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  color: #FFF;
  margin-right: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.icon-linkedin {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
}


.copyright{
  display: block;
  height: 35px;
  
}

.copyright::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 2%;
}
.copyright p {
  font-weight: 700;
  color: #FFF;
  font-size: var(--small-font-size);
  margin-left: 5vw;
}

}

@media screen and (min-width: 767px){
    /*Carousel Desktop*/

.animation_carousel {
  overflow: hidden;
  height: 150px;
  width: 600px;
  margin: 15px auto 15px auto;
}

.box_animation {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.box_animation img {
  object-fit: cover;
  height: 150px;
  width: 150px;
}

/*Contact Us Desktop*/

.efect-parallax{
  background-image: url(./img/foto-contac-us-cut.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.2s linear;
}

.contact-us-contanier{
  display: block;
  height: 100%;
  overflow-y: hidden;
  padding-bottom: 10vh;
  background: linear-gradient(to left, rgb(255, 255, 255)5%, rgba(255, 255, 255, 0.275));
}

.text-contact-us,.form-contact-us, .footer-container{
  margin-right: 5vw;
  margin-left: 5vw;
}

.text-contact-us h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

.text-contact-us h3 {
  font-weight: 700;
  font-size: 3rem;
}

.text-contact-us {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}

.text-contact-us::after {
  content: '';
  display: block;
  width: 135px;
  height: 8px;
  margin-top: 15px;
  background-color: #141f5c;
  margin-bottom: 5%;
}

/*Form Contact Us*/
.form-contact-us {
  margin-left: 40%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 48vw;
}

.input-group {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}


/*Inputs of Form Contact-Us Desktop*/
#first-name {
  border: 30px solid white;
  width: 23vw;
  margin-bottom: 10px;
}

input:not(#first-name)  {
  border: 30px solid white;
  width: 23vw;
  margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
  font-family: var(--body-font);
   font-size: 1.1rem;
}

#yourMessage {
  border: 30px solid white;
  resize: none;
  outline: none;
  width: 48vw;
  margin-bottom: 10px;
}

#send {
  border: 30px solid white;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: white;
  color: #141f5c;
  transition: 0.3s linear;
  outline: none;  
}

#send:hover {
  border: 30px solid #141f5c;
  background-color: #141f5c;
  color: #FFF;
}

/*Footer Desktop*/
.footer {
  background-color: #141f5c;
  background-size: cover;
}

.footer-container {
  display: flex;
  overflow: hidden;
  padding-top: 1%;
  align-items:center; 
  flex-direction: row;
  justify-content: space-between;
} 

.logo-footer {
  width: 150px;
}

.fast-links p {
  font-weight: 500;
  font-size: 1.2rem;
  color: #FFF;
}

.icons-social-midia {
  display: flex;
}

.icon-facebook{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  color: #FFF;
  margin-right: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.icon-instagram{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  color: #FFF;
  margin-right: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.icon-linkedin {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.copyright{
  display: block;
  height: 45px;
  width: 100%;
  text-align: center;
}

.copyright::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 10px;
}
.copyright p {
  font-weight: 700;
  font-size: var(--small-font-size);
  color: #fff;
}
 
}
