/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --hue-color: 231;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /* Font and typography */
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Hover overlay */
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/* Reusable CSS classes*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Header */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/* NAV */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--white-color);
}

.nav__logo{
  font-weight: var(--font-semi-bold);
}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu{
  position: relative;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover{
  color: var(--text-color);
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* show menu */
.show-menu{
  right: 0;
}

/*Carousel slider*/

.box_animation {
  display: flex;
  transition: 0.5s ease-in-out;
}

.line_decoration {
  display: block;
  height: 4px;
  background-color: grey;
}

/*Contact Us*/
.efect-parallax{
    height: 100vh;
    background-image: url(./img/foto-contac-us-cut.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.2s linear;
    z-index: -1;
}
.contact-us-contanier{
  display: block;
  height: inherit;
  background: linear-gradient(to left, rgb(255, 255, 255)5%, rgba(255, 255, 255, 0.275));
}

.text_contac-us h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

.text_contac-us h3 {
  font-weight: 700;
  font-size: 2rem;
}

.text_contac-us {
  margin-left: 5vw;
  padding-top: 10vh;
}

.text_contac-us::after {
  content: '';
  display: block;
  width: 150px;
  height: 10px;
  margin-top: 15px;
  background-color: #141f5c;
}
/*Form ContactUs*/
.form_contatc-us {
  display: flex;
}

/*Inputs of Form Contact-Us*/
  #first-name {
  border: 3vw  solid white;
  width: 80vw;
  margin-bottom: 12px;
  margin-left: 5vw;
  margin-top: 4vh;
}

input:not(#first-name)  {
  border: 3vw  solid white;
  width: 80vw;
  margin-bottom: 12px;
  margin-left: 5vw;
}

#yourMessage {
  border: 3vw  solid white;
  width: 80vw;
  margin-bottom: 8px;
  margin-left: 5vw;
  outline: none;
  resize: none;
}

#send {
  margin-left: 5vw;
  border: 3vw solid white;
  font-weight: 800;
  text-transform: uppercase;
  background-color: white;
  color: #141f5c;
  transition: 0.3s linear;
}

#send:hover {
  border: 3vw solid #141f5c;
  background-color: #141f5c;
  color: #FFF;
}

/*Footer*/
.footer {
  background-color: #141f5c;
  background-size: cover;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.logo-footer {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.footer-container p {
  font-weight: 500;
  font-size: 1rem;
  color: #FFF;
  margin-bottom: 2vh;
}
.icons-social-midia {
  display: flex;
}

.icon-facebook{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  color: #FFF;
  margin-right: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.icon-instagram{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  color: #FFF;
  margin-right: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.icon-linkedin {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
}


.last-element {
  display: block;
  height: 2vh;
}